/* 按钮基本样式 */
@import 'constants';
@import 'util';

.btn-marktools {
    width: @button-size;
    height: @button-size;
    margin-bottom: 0px;
    position: absolute;

    .btn-marktools-content {
        border-color: @color-button-rest;
        .transition-all(0.5s);
        z-index: @z-index-button-content;
    }

    &:hover {
        .btn-marktools-content {
            border-color: @color-button-hover; 
        }

        .btn-marktools-pin:after {
            border-color: transparent;
            border-top-color: @color-button-hover;
        }
    }

    //给所有按钮加上通用的上半长边框
    &:after {
        .before-after-shade-base();
        left: 25%;
        width: 50%; 
        height: 2px;
        background-color: @color-button-border;
    }

    //两个特殊情况，上全长边框
    &:first-child:after, &:last-child:after {
        left: 0;
        width: 100%;
    }
}

.btn-marktools-active {
    background-color: @color-button-hover-bg;

    .btn-marktools-content {
        border-color: @color-button-hover;
    }

    .btn-marktools-pin:after {
        border-color: transparent;
        border-top-color: @color-button-hover;
    }
}

.btn-marktools-active-border {
    position: absolute;
    width: @button-size - @active-button-border-width * 2;
    height: @button-size - @active-button-border-width * 2;
    border: @active-button-border-width solid @color-button-hover;
    background-color: @color-button-hover-bg;
    z-index: @z-index-active-button-border;

    &:after {
        @border-width: 7px;
        .triangle-border-base(@border-width);
        border-left: @border-width solid @color-button-hover;
        left: @button-size - @border-width;
        top: 40%;
        // margin-left: -1px;
    }
}

.btn-marktools-content {
    position: absolute;
    width: @button-content-size;
    height: @button-content-size;

    @ratio: (@button-size - @button-content-size - @button-shade-width * 2) / @button-size / 2;
    top: percentage(@ratio);
    left: percentage(@ratio);
}

/* 四种图标 */
.btn-marktools-pin {
    border: @button-shade-width solid @color-button-rest;
    width: @button-pin-size;
    height: @button-pin-size;
    .border-radius(@button-pin-size);
    @ratio: (@button-size - @button-pin-size - @button-shade-width * 2) / @button-size / 2;
    top: percentage(@ratio - 0.05);
    left: percentage(@ratio);

    &:after {
        .triangle-border-base(6px);
        border-top: 14px solid @color-button-rest;
        top: 100%;
        left: 28%;
        .transition-all(0.5s);

        &:hover {
            border-top-color: @color-button-hover;
        }
    }
}

.btn-marktools-rect {
    border: @button-shade-width solid @color-button-rest;

    @offset: 4px;
    @ratio: (@button-size - (@button-content-size - @offset) - 
        @button-shade-width * 2) / @button-size / 2;
    height: @button-content-size - @offset;
    top: percentage(@ratio);
}

.btn-marktools-ellipse {
    border: @button-shade-width solid @color-button-rest;
    .border-radius(40px);
}

.btn-marktools-line {
    @length: @button-content-size * sqrt(2);
    height: @length;
    border-left: @button-shade-width solid @color-button-rest;
    @offsetX: @button-content-size / 2 - 4;
    @offsetY: @button-content-size / 2 - 7;
    .translate-rotate(@offsetX, @offsetY, 45deg);
}

//颜色选择按钮
.btn-marktools-color {
    width: @button-color-size;
    height: @button-color-size;
    @inside-padding: (@button-size - @button-color-size) / 2;
    @ratio: (@button-size - @button-color-size - @inside-padding) / @button-size;
    top: percentage(@ratio);
    left: percentage(@ratio);
    background-color: @color-yellow;

    //黑色右下三角
    .btn-marktools-color-triangle1 {
        @border-width: 5px;
        .triangle-border-base(@border-width);
        border-right: @border-width solid @color-black;
        border-bottom: @border-width solid @color-black;

        @pos: @button-color-size - @border-width * 2;
        top: @pos;
        left: @pos;
    }

    //黄色右下三角
    .btn-marktools-color-triangle2 {
        @border-width: 3px;
        .triangle-border-base(@border-width);
        border-right: @border-width solid @color-yellow;
        border-bottom: @border-width solid @color-yellow;

        @pos: @button-color-size - @border-width * 2;
        top: @pos;
        left: @pos;
        .transition-all(0.5s);
    }
}

//颜色选择按钮激活状态（黄色右下三角位移）
.btn-marktools-color-active {
    .btn-marktools-color-triangle2 {
        @border-width: 3px;
        @pos: @button-color-size - @border-width * 2;
        top: @pos + 3;
        left: @pos + 3;
    }
}

//颜色选择大容器
.style-picker {
    position: relative;
    height: @picker-height;
    background-image: url('../images/style_picker_bg.png');
    background-repeat: no-repeat;
}

//颜色选择色块容器
.style-picker-container {
    .div-center(@picker-container-width);
    padding-top: 15px;

    //色块背景（半透明）
    .color-block-bg {
        display: inline-block;
        position: relative;
        margin: 8px 0;
        width: @color-block-size;
        height: @color-block-size;
        .border-radius(@color-block-size);
        text-align: center;
    }

    //色块背景
    .color-block {
        position: absolute;
        width: @color-block-inside-size;
        height: @color-block-inside-size;
        top: (@color-block-size - @color-block-inside-size) / 2;
        left: (@color-block-size - @color-block-inside-size) / 2;
        .border-radius(@color-block-inside-size);
        .transition-all(0.25s);

        &:hover {
            width: @color-block-size;
            height: @color-block-size;
            top: 0;
            left: 0;
        }
    }

    //色块颜色
    .color-block-yellow {
        background-color: @color-yellow;
    }

    .color-block-green {
        background-color: @color-green;
    }

    .color-block-red {
        background-color: @color-red;
    }

    .color-block-black {
        background-color: @color-black;
    }

    .color-block-blue {
        background-color: @color-blue;
    }

    .color-block-pink {
        background-color: @color-pink;
    }

    .color-block-white {
        background-color: @color-white;
    }

    .color-block-transparent-yellow {
        background-color: @color-transparent-yellow;
    }

    .color-block-transparent-green {
        background-color: @color-transparent-green;
    }

    .color-block-transparent-red {
        background-color: @color-transparent-red;
    }

    .color-block-transparent-black {
        background-color: @color-transparent-black;
    }

    .color-block-transparent-blue {
        background-color: @color-transparent-blue;
    }

    .color-block-transparent-pink {
        background-color: @color-transparent-pink;
    }

    .color-block-transparent-white {
        background-color: @color-transparent-white;
    }
}
