@button-size: 80px;
@button-content-size: 34px;
@border-width: 4px;

//颜色
@color-button-rest: #CECEC4;
@color-button-hover: #FFD500;
@color-button-hover-bg: #212121;

@color-style-yellow: #FFD125;
@color-style-green: #3FC835;
@color-style-red: #FF4C00;
@color-style-black: #111111;
@color-style-blue: #00B3F0;
@color-style-pink: #FF296A;
@color-style-white: #FFFFFF;