@button-size: 80px;
@button-content-size: 34px;
@button-pin-size: 25px;
@button-color-size: 42px;
@button-shade-width: 4px;

@active-button-border-width: 5px;

//颜色选择器高度
@style-picker-height: 445px;
@style-picker-container-width: 40px;
@color-block-size: 40px;

//颜色
@color-background: #000000;

@color-button-rest: #CECEC4;
@color-button-hover: #FFD500;
@color-button-hover-bg: #212121;

@color-style-yellow: #FFD125;
@color-style-green: #3FC835;
@color-style-red: #FF4C00;
@color-style-black: #111111;
@color-style-blue: #00B3F0;
@color-style-pink: #FF296A;
@color-style-white: #FFFFFF;