@import 'constants';
@import 'button';

.cursor-crosshair-common() {
    position: absolute;
    top: 100%;
}

.cursor-crosshair-vertical {
    position: absolute;
    width: 0;
    height: 12px;
    top: 100%;
    left: 50%;
    border-left: 1px solid black;
    z-index: 2;
}

.cursor-crosshair-horizontal {
    position: absolute;
    width: 12px;
    height: 0;
    top: 100%;
    left: 50%;
    border-top: 1px solid black;
    z-index: 2;
}

.cursor-pin {
    //MIXIN: 混入button图标的样式
    .btn-marktools-pin;

    position: absolute;
    width: @cursor-pin-size;
    height: @cursor-pin-size;
    .border-radius(@cursor-pin-size);
    margin-left: -13px;
    margin-top: 10px;

    &:after {
        .triangle-border-base(5px);
        border-top: 12px solid @color-yellow;
        left: 26%;
    }
}

.cursor-color-yellow {
    border-color: @color-yellow;
    &:after { border-top-color: @color-yellow; }
}

.cursor-color-green {
    border-color: @color-green;
    &:after { border-top-color: @color-green; }
}

.cursor-color-red {
    border-color: @color-red;
    &:after { border-top-color: @color-red; }
}

.cursor-color-black {
    border-color: @color-black;
    &:after { border-top-color: @color-black; }
}

.cursor-color-blue {
    border-color: @color-blue;
    &:after { border-top-color: @color-blue; }
}

.cursor-color-pink {
    border-color: @color-pink;
    &:after { border-top-color: @color-pink; }
}

.cursor-color-white {
    border-color: @color-white;
    &:after { border-top-color: @color-white; }
}