@import 'constants';
@import 'button';

.cursor-pin {
    //MIXIN: 混入button图标的样式
    .btn-marktools-pin;

    position: absolute;
    width: @cursor-pin-size;
    height: @cursor-pin-size;
    .border-radius(@cursor-pin-size);

    &:after {
        .triangle-border-base(5px);
        border-top: 12px solid @color-yellow;
        left: 26%;
    }
}

.cursor-color-yellow {
    border-color: @color-yellow;
    &:after { border-top-color: @color-yellow; }
}

.cursor-color-green {
    border-color: @color-green;
    &:after { border-top-color: @color-green; }
}

.cursor-color-red {
    border-color: @color-red;
    &:after { border-top-color: @color-red; }
}

.cursor-color-black {
    border-color: @color-black;
    &:after { border-top-color: @color-black; }
}

.cursor-color-blue {
    border-color: @color-blue;
    &:after { border-top-color: @color-blue; }
}

.cursor-color-pink {
    border-color: @color-pink;
    &:after { border-top-color: @color-pink; }
}

.cursor-color-white {
    border-color: @color-white;
    &:after { border-top-color: @color-white; }
}