/**
 * div居中
 * @param {@width} div宽度
 */
.div-center (@width) {
    width: @width;
    margin: 0 auto;
}

.before-after-shade-base () {
    position: absolute;
    content: ""; 
    width: 0;
    height: 0;
}

.triangle-border-base (@border-width) {
    .before-after-shade-base();
    border: @border-width solid transparent;
}

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.translate-rotate (@x; @y; @degree) {
    -webkit-transform: translate(@x, @y) rotate(@degree);
    -moz-transform: translate(@x, @y) rotate(@degree);
    -o-transform: translate(@x, @y) rotate(@degree);
    transform: translate(@x, @y) rotate(@degree);
}

.translate (@x; @y) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);  
    -o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}

.rotate (@degree) {
    -webkit-transform: rotate(@degree);
    -moz-transform: rotate(@degree);
    -o-transform: rotate(@degree);
    transform: rotate(@degree);
}

.transition-all (@duration; @timing-func: ease) {
    -webkit-transition: all @duration @timing-func;
    -moz-transition: all @duration @timing-func;
    -o-transition: all @duration @timing-func;
    transition: all @duration @timing-func;
}

.box-sizing-content-box() {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}